@media (max-width: 1440px){
    .navigation__logo{
        width: 218px;
        height: 60px;
        background-color: #ffffff;
    }
    .navigation__block{
        top: 28px;
    }
}

@media (max-width: 1024px){
    .navigation{
        column-gap: 60px;
    }
    .navigation__logo{
        width: 161px;
        height: 44px;
        background-color: #ffffff;
    }
}
@media (max-width: 768px){
    .navigation__logo{
        width: 135px;
        height: 37px;
        background-color: #ffffff;
    }
    .navigation__block{
        padding: 0px 34px;
    }
}
@media (max-width: 700px){
    .navigation{
        display: none;
    }
    .nav-button{
        display: block;
    }

    .nav.open .navigation{
        position: fixed;
        z-index:1;

        display: flex;
        flex-direction: column;
        row-gap: 40px;

        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        
        background-color: #B2E400;
        padding:28px 34px;
    }
    .navigation a{
        font-size: 34px;
        font-weight: 600;
    }
    .nav.open .nav-button{
        position: fixed;
        top: 28px;
        right: 34px;
        z-index: 2;
    }
}

@media (max-width: 430px){
    .navigation__block{
        top: 20px;
        padding: 0px 20px;
    }
    .nav.open .navigation{
        padding:20px 20px;
    }
    .nav.open .nav-button{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 2;
    }
}