@import './reset.css';
:root {
   --font-title: 'Monument Extended';
}

@font-face {
  font-family: 'Monument Extended';
  src: url('../fonts/monument/MonumentExtended-Regular.ttf');
}

body{
   
}
section {
  padding: 120px 20px 92px 20px;
 
}
.container{
  max-width: 1880px;
  margin: 0 auto;
}
h2{
  font-family: var(--font-title);
    font-size: 24px;
    letter-spacing: -0.96px;
    line-height: 24px;
}